@import url('basics/_base.css');
@import url( "layout/_navbar.css");
@import url( "layout/_header.css");
@import url( "layout/_content.css");
@import url( "layout/_dialog.css");
@import url( "basics/_common.css");
@import url( "basics/_icon.css");
@import url( "basics/_grid.css");
@import url( "basics/_toolbar.css");
@import url( "basics/_button.css");
@import url( "basics/_input.css");

body {
    margin: 0;
    font-family: GoogleSans-Regular !important;
    font-size: 13px !important;
}

.title {
    font-family: GoogleSans-Regular !important;
    font-weight: bold;
}



@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('../assets/font/GoogleSans-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('../assets/font/GoogleSans-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Italic';
    src: url('../assets/font/GoogleSans-Italic.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Light';
    src: url('../assets/font/GoogleSans-Light.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Thin';
    src: url('../assets/font/GoogleSans-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Black';
    src: url('../assets/font/GoogleSans-Black.otf') format('opentype');
}

::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
    z-index: 1231232123421
}

::-webkit-scrollbar-track {
    width: 6px;
    background-color: #bbb;
}

::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 8px
}