.navbar {
    position: relative;
    float: left;
    width: 220px;
    height: 100vh;
    background-color: #026b97;
    border-right: 1px solid #bbbbbb;
}

    .navbar .logo-site {
        display: flex;
        align-items:center;
        width: 100%;
        height: 60px;
    }
   
        /*Logo page*/

        .navbar .logo-box {
            cursor:pointer;
            width: 100%;
            height: 100%;
            
            
            background-image: url(../../assets/img/Logo_Full_White.png);
            background-position: 0 center;
            background-size: contain;
            background-repeat: no-repeat;
            background-color: #00577b;
        }

    .navbar .navbar-content {
        width: 100%;
    }

        .navbar .navbar-content .nav-item{
            display:flex;
            padding-left:24px;
            height:44px;
            cursor:pointer;
            line-height:44px;
            background-color: #026b97;
            color: #ffffff;
        }

            .navbar .navbar-content .nav-item:hover {
                background-color:#0088c1;
                
            }

            .navbar .navbar-content .nav-item:focus{
                background-color:#00577b;
            }

            .navbar .navbar-content .nav-item:active{
                background-color:#00577b;
            }

            .nav-item .nav-item-icon {
            
                align-self: center;
                margin-right: 10px;
               
            }


/*Tổng quan*/
.nav-item-dashboard {
    background: url('../../assets/icon/iconMenu.png') no-repeat -5px -5px;
	width: 20px;
	height: 16px;
}

/*Báo cáo*/
.nav-item-report {
    background: url('../../assets/icon/iconMenu.png') no-repeat -3px -194px;
	width: 19px;
	height: 19px;
}

/*Đơn hàng*/
.nav-item-order {
    background: url('../../assets/icon/iconMenu.png') no-repeat -5px -458px;
	width: 20px;
	height: 22px;
}

/*Mua hàng*/
.nav-item-buy {
    background: url('../../assets/icon/iconMenu.png') no-repeat -1px -377px;
	width: 24px;
	height: 19px;
}
/*Khuyến mại*/
.nav-item-sale {
    background: url('../../assets/icon/iconMenu.png') no-repeat -3px -117px;
	width: 21px;
	height: 23px;
}
/*Quản lý cửa hàng*/
.nav-item-store {
    background: url('../../assets/icon/iconMenu.png') no-repeat -4px -421px;
	width: 20px;
	height: 17px;
}
/*Hàng hóa*/
.nav-item-goods {
    background: url('../../assets/icon/iconMenu.png') no-repeat -2px -502px;
	width: 26px;
	height: 15px;
}
